body{
	font-family: Georgia, serif;
	background: url("images2015/background.png") 300% 300%;
	background-position: right top;
	background-attachment: fixed;
	font-size: 250%;
	color: white;
}

div{
	padding: 15px;
	border-radius: 10px;
	position: relative;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(266,266,266,.3);
}

div div{
	font-size: 40px;
}

input{
	width: 100%;
	height: 100px;
	font-size: 125%;
}

textarea{
	font-size: 125%;
}

nav{
	background-color: rgb(20, 72, 125);
	width: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	list-style-type: none;
	text-align: center;
	z-index: 3;
	box-shadow: 0px 1px 5px black;
	transition: text-shadow 1s;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

nav a{
	color: white;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
	width: 300px;
}

nav ul {
	padding: 0 20px;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul ul {
	padding: 0;
	position: absolute;
	top: 100%;
	background-color: rgb(30, 72, 125);
}

nav ul ul li {
	float: none;
	position: relative;
	font-size: 150%;
	padding-top: 10px;
	padding-bottom: 5px;
}

nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}

#navbar li{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

a{
	text-decoration: none;
	color: rgb(200,200,200);
}

table{
	margin: auto;
	width: 100%;
}

td{
	width: 50%;
	padding: 15px;
	background-color: rgba(0,0,0,.1);
	border-radius: 5px;
	font-size: 40px;
}

img{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

iframe{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.bigText{
	font-size: 110%;
}

.biggerText{
	font-size: 150%;
	text-align: center;
}

.biggestText{
	font-size: 250%;
	text-align: center;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.bubble{
	border-radius: 50%;
	height: 300px;
	margin: auto;
	margin-bottom: 30px;
}

.warning{
	color: red;
	text-align: center;
	font-size: 70%;
}

#FRC{
	background: rgb(256, 256, 256) url("images2015/FRC.gif") no-repeat center center;
	background-size: 300px;
}

#bunnyBots{
	background: rgb(46, 49, 146) url("images2015/bunnyBots.jpg") no-repeat center center;
	background-size: 300px;
}

#outerdiv{
	opacity: 1;
	max-width: 1000px;
	min-width: 650px;
	top: 100px;
	border-radius: 0px;
	box-shadow: 0px 0px 30px rgba(0,0,0,.5);
}

#titlebar{
	font-size: 170%;
	text-align: center;
	opacity: 1;
	box-shadow: 0px 0px 0px;
	border-radius: 0px;
}

#phonesAreStupid{
	width: 100%;
	height: 1000px;
}

#cat{
	background: rgba(256, 256, 256,0.7) url("images2015/cat.png") no-repeat center center;
	background-size: 125px;
}